@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Verdana, sans-serif;
    background-color: #121212;
    color: #ffffff;
} */

body {
    margin: 0;
    padding: 0;
    background: #121212;
    /* background-color: #121212; */
    font-family: Montserrat, Verdana, sans-serif;
    
}

/* 
.backgroundColor {
    background-color: #121212;
} */

p {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    padding: 0.5em;
}

a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}
  

h1 {
    /* font-size: 32px; */
    font-weight: 600;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}


body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(to bottom, rgba(3, 3, 3, 0.829) 0%,rgba(0,0,0,0.8) 100%); */
    pointer-events: none; /* Permite que os elementos por trás sejam clicáveis */
    z-index: -1; /* Coloca o gradiente atrás do conteúdo */
}

h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
    letter-spacing: 1.1px;
    line-height: 1.8;
}

.navbar {
    background-color: #000000;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 14px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

#text-brand {
    font-size: xx-large;
}

.navbar li a, .navbar .navbar-brand {
    text-align: right;
    color: #fff !important;
    letter-spacing: 4px;
}

.navbar-nav li a:hover {
    color: yellow !important;
    letter-spacing: 5px;
}

.align-left {
    text-align: left;
}

.invert-image {
    filter: invert(1);
}

.trailer {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}



.img-logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

.container-padding {
    padding: 30px 120px 60px 120px;
    border: #fff 0.5px solid;
    margin: 0px 0px 0px 0px;
}

.quemsomos{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.parceiros {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.centralize-itens-col {
    /* width: 30%; */
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    /* Defina largura e altura máxima da coluna se desejar */
    /* width: 100%; */
    /* max-width: 400px; Por exemplo */
    /* height: 300px; Por exemplo */
    /* border: 1px solid #ccc; Apenas para visualização */
}

.width-row{
    width: 35%;
    margin: auto;
    padding: 0.5em;
}

.footer {
    padding: 2em;
    font-size: 5px;
}

.ul-navbar {
    margin-left: 3rem;
}

.li-navbar {
    text-align: right;
}

.padding-top {
    padding-top: 3em;
}

.empresas-parceiras {
    border: none;
    margin: 0;
}

.remove-bg {
    mix-blend-mode: multiply;
}

.container-cinema-flex {
    display: flex;
  }
  
.column-cinema-flex {
    flex: 1; /* Faz as colunas ocuparem o mesmo espaço */
    padding: 1em;
    margin-top: 1em;
    border: none;
}

.container-filme-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Define três colunas com a mesma largura */
    grid-gap: 10px; /* Define um espaçamento entre as colunas */
}

.column-filme-grid {
    padding: 10px;
    border: 1px solid #ccc;
}



.card_wrapper {
	background: linear-gradient(180deg, #131313ef 46%, #cececece 100%);
	/* width: 100%;
	height: 100vh;
	display: flex;
	align-items: center; */
}