@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.movie-classification {
    border: 1px solid #000000;
    color: #ffffff;
    background-color: red;
    border-radius: 5px;
    font-size: 15px;
    padding: 0 1em;
    text-align: center;
    display: inline-block;
    font-weight: 800;
    width: fit-content;
    margin: 1em auto;
    letter-spacing: 1.1px;
    line-height: 1.8;
}

.movie-genre {
    border: 1px solid #000000;
    color: #ffffff;
    background-color: rgb(28, 173, 84);
    border-radius: 5px;
    font-size: 15px;
    padding: 0 1em;
    text-align: center;
    display: inline-block;
    font-weight: 800;
    width: fit-content;
    margin: 1em auto;
    letter-spacing: 1.1px;
    line-height: 1.8;
}

.movie-time {
    border: 1px solid #000000;
    color: #ffffff;
    background-color: rgb(28, 173, 84);
    border-radius: 5px;
    font-size: 15px;
    padding: 0 1em;
    text-align: center;
    display: inline-block;
    font-weight: 800;
    width: fit-content;
    margin: 1em auto;
    letter-spacing: 1.1px;
    line-height: 1.8;
}

.mais-informacoes {
    margin: 1em 1em;
    padding: 0 1em;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1.1px;
    line-height: 1.8;
}

.capa-filme {
    height: 250px;
    position: relative;
    z-index: 1;
}

.capa-filme img {
    min-width: 100%;
    max-height: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    object-position: center;
    opacity: 0.3;
    /* filter: blur(1.5px); */
}

.h1-title {
    font-weight: 700;
}

.filme-section {
    position: relative;
    margin-top: -240px;
    z-index: 1000;
    width: 100%; /* A imagem ocupa 100% da largura da div */
    height: auto; /* Altura ajustada automaticamente */
    display: block; /* Isso garante que a imagem não tenha margens extras na parte inferior */
}

.h2-filme {
    font-size: 30px;
    text-align: center;
    padding-left: 1em;
}

.h3-filme {
    font-size: 25px;
}

.sinopse {
    font-size: .9em;
    font-weight: 500;
    color: #ffffff;
    text-align: justify;
}

.p-info-filme {
    font-size: 15px;
    letter-spacing: 1.1px;
    line-height: 2;
    text-align: left;
    padding: auto;
    margin: 0 auto;
}

li {
    list-style: none;
}

.mais-informacoes {
    color: #ffffff;
    letter-spacing: 1.1px;
    line-height: 1.8;
    text-align: center;
    margin: 1em 1em;
    padding: 0 1em
}

.li-filme {
    color: #ffffff;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    color: #ffffff;
    letter-spacing: 1.1px;
    line-height: 1.8;
    text-align: left;
    padding: auto;
    margin: 0 auto;
}


/* -------------------------------------- */

.container-capa-sinopse {

    display: grid;
    grid-template-columns: 1fr 5fr; 
    grid-gap: 10px; /* Define um espaçamento entre as colunas */
}


.container-info-trailer {
    display: grid;
    grid-template-columns: 2fr 3fr; /* Define duas colunas com a mesma largura */
    grid-gap: 10px; /* Define um espaçamento entre as colunas */
}

.column-filme {
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

.info-filme {
    font-size: 30px;
    text-align: center;
}
  
.column-capa {
    /* flex-grow: 1; A primeira coluna vai ocupar todo o espaço disponível */
    padding: 10px;
    border: none;
    font-size: 30px; 
    font-size: 30px;
    text-align: left;
}

.trailer-font {
    color: #fff;
    font-size: 30px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    text-align: left;
    /* padding-left: 8rem; */
}
  
.column-conteudo {
    padding: 10px;
    border: none;
}

.p-center {
    text-align: left;
}

.p-conteudo {
    font-size: .9em;
    font-weight: 500;
    color: #000000;
    text-align: justify;
}
  
/* Media query para tornar o layout responsivo */
@media screen and (max-width: 768px) {
    .column-filme {
      flex-basis: 100%;
      flex-grow: 0; 
    }
}

