.background-img {
    background-image: url("../images/bob-marley-background.webp");
    width: 100%;
    padding: 0;
    margin: 0;
    /* height: 100vh;    */
    background-repeat: no-repeat;
    background-size:auto;
    /* background-position: center; */
}
